<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Admin Dashboard</title>
</head>
<body>
	<section>
		<div class="container p-5">
			<p class="text-center fs-3 fw-bold text-primary mb-4">Admin Dashboard</p>
			
			<div class="row g-4">
				<!-- Add Product -->
				<div class="col-md-4">
					<a th:href="@{/admin/loadAddProduct}" class="text-decoration-none">
						<div class="card shadow-sm border-0 text-center p-3 h-100 me-card">
							<div class="card-body text-primary">
								<i class="fa-solid fa-square-plus fa-3x mb-2"></i>
								<h5 class="fw-bold">Add Product</h5>
							</div>
						</div>
					</a>
				</div>

				<!-- Category -->
				<div class="col-md-4">
					<a th:href="@{/admin/category}" class="text-decoration-none">
						<div class="card shadow-sm border-0 text-center p-3 h-100 me-card">
							<div class="card-body text-primary">
								<i class="fa-solid fa-list-check fa-3x mb-2"></i>
								<h5 class="fw-bold">Category</h5>
							</div>
						</div>
					</a>
				</div>

				<!-- View Product -->
				<div class="col-md-4">
					<a th:href="@{/admin/products}" class="text-decoration-none">
						<div class="card shadow-sm border-0 text-center p-3 h-100 me-card">
							<div class="card-body text-danger">
								<i class="fa-solid fa-book-open fa-3x mb-2"></i>
								<h5 class="fw-bold">View Product</h5>
							</div>
						</div>
					</a>
				</div>

				<!-- Orders -->
				<div class="col-md-4">
					<a th:href="@{#}" class="text-decoration-none">
						<div class="card shadow-sm border-0 text-center p-3 h-100 me-card">
							<div class="card-body text-warning">
								<i class="fa-solid fa-box-archive fa-3x mb-2"></i>
								<h5 class="fw-bold">Orders</h5>
							</div>
						</div>
					</a>
				</div>

				<!-- User Management -->
				<div class="col-md-4">
					<a th:href="@{/admin/users}" class="text-decoration-none">
						<div class="card shadow-sm border-0 text-center p-3 h-100 me-card">
							<div class="card-body text-primary">
								<i class="fa-solid fa-user-gear fa-3x mb-2"></i>
								<h5 class="fw-bold">User</h5>
							</div>
						</div>
					</a>
				</div>

				<!-- Add Admin -->
				<div class="col-md-4">
					<a th:href="@{#}" class="text-decoration-none">
						<div class="card shadow-sm border-0 text-center p-3 h-100 me-card">
							<div class="card-body text-primary">
								<i class="fa-solid fa-user-plus fa-3x mb-2"></i>
								<h5 class="fw-bold">Add Admin</h5>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>