<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Reset Password</title>
</head>
<body>
	<section>
		<div class="container my-5">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-5">
					<div class="card shadow-sm border">
						<div class="card-header bg-light">
							<p class="fs-4 text-center mb-0">Reset Password</p>
						</div>
						<div class="card-body">

							<div th:if="${session.errorMsg}" class="alert alert-danger text-center p-2 mb-3" role="alert">
								[[${session.errorMsg}]]
							</div>
							<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>

							<form action="/reset-password" method="post">
								<input type="hidden" name="token" th:value="${token}">
								
								<div class="mb-3">
									<label class="form-label">New Password</label> 
									<input class="form-control" name="password" type="password" required>
								</div>
								<button type="submit" class="btn btn-primary w-100">Submit New Password</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>