<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>View Product</title>
</head>
<body>
	<section>
		<div class="container p-0" style="margin-top: 10px;">
			<div class="card card-sh p-3">

				
				<div class="col-md-12">
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold text-center fs-5">[[${session.succMsg}]]</p>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold text-center fs-5">[[${session.errorMsg}]]</p>
					</th:block>
				</div>
				

				<div class="card-body p-1">
					<div class="row">

						
						<div class="col-md-6 text-end">
							<img th:alt="${product.title}"
								th:src="@{'/img/product_img/' + ${product.image}}" width="400px"
								height="450px" style="object-fit: contain;">
						</div>

						
						<div class="col-md-6">
						
							<p class="fs-3">[[${product.title}]]</p>

							
							<p class="fw-bold mb-1">Description :</p>
							<p class="text-secondary">[[${product.description}]]</p>

							
							<p class="fw-bold mb-1">Product Details:</p>
							<div class="mb-1">
								<span class="fw-bold">Status : </span>

								
								<th:block th:if="${product.isActive and product.stock > 0}">
									<span class="badge bg-success">Available</span>
								</th:block>

								
								<th:block th:unless="${product.isActive and product.stock > 0}">
									<span class="badge bg-warning text-white">out of stock</span>
								</th:block>
							</div>

							<p class="mb-1">
								<span class="fw-bold">Category : </span>[[${product.category}]]
							</p>
							<p class="mb-3">
								<span class="fw-bold">Policy : </span>7 Days Replacement &
								Return
							</p>

							
							<p class="fs-5 mb-4">
								<span class="fw-bold">Price : </span> <span
									class="fs-4 fw-bold ms-2">$[[${product.discountPrice}]]</span>
								<span class="text-decoration-line-through text-secondary ms-1">$[[${product.price}]]</span>
								<span class="fs-6 text-success fw-bold ms-1">[[${product.discount}]]%
									off</span>
							</p>

						
							<div class="row text-center mb-4">
								<div class="col-md-4 text-success">
									<i class="fa-solid fa-money-bill-wave fa-2x"></i>
									<p class="mb-0 mt-1" style="font-size: 13px;">Cash On
										Delivery</p>
								</div>
								<div class="col-md-4 text-danger">
									<i class="fa-solid fa-arrows-rotate fa-2x"></i>
									<p class="mb-0 mt-1" style="font-size: 13px;">Return
										Available</p>
								</div>
								<div class="col-md-4 text-primary">
									<i class="fa-solid fa-truck-fast fa-2x"></i>
									<p class="mb-0 mt-1" style="font-size: 13px;">Free Shipping</p>
								</div>
							</div>

							
							<th:block th:if="${product.isActive and product.stock > 0}">
								
								<a th:if="${user != null}"
									th:href="@{'/add-cart?pid=' + ${product.id} + '&uid=' + ${user.id}}"
									class="btn btn-danger col-md-12 py-2 fs-5">Add To Cart</a>

								
								<a th:unless="${user != null}" href="/signin"
									class="btn btn-danger col-md-12 py-2 fs-5">Add To Cart</a>
							</th:block>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>